<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Fibrimad</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Inicio</a>
                </li>
            </ul>
            <form method="post" action="/logout" class="form-inline my-2 my-lg-0">
                <input type="hidden" name="csrf_token" value="{{ .token }}" required>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <button class="btn btn-sm" type="submit">Cerrar sesión</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>